In [1]:
import numpy as np
import pandas as pd
from keras.preprocessing.image import ImageDataGenerator,load_img
from keras.utils import to_categorical
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import random
import os

In [56]:
#Image Properties
Image_Width=32
Image_Height=32
Image_Channel=3
Image_Size=(Image_Width,Image_Height)

In [57]:
#Preparing dataset
#(The code in this cell is inspired from a blog by DATAFLAIR TEAM)
filenames=os.listdir("./Training")
categories=[]
for f_name in filenames:
    category=f_name[0:2]
    if category== "An":
        categories.append(0)
    elif category=="Fe":
        categories.append(1)
    elif category=="Ha":
        categories.append(2)
    elif category=="Ne":
        categories.append(3)
    elif category=="Sa":
        categories.append(4)
    else:
        categories.append(5)

In [58]:
df=pd.DataFrame({"filenames":filenames,"category":categories})

In [59]:
df

             filenames  category
0          Angry-1.jpg         0
1         Angry-10.jpg         0
2        Angry-100.jpg         0
3       Angry-1000.jpg         0
4       Angry-1001.jpg         0
...                ...       ...
28268  Suprise-996.jpg         5
28269  Suprise-997.jpg         5
28270  Suprise-998.jpg         5
28271  Suprise-999.jpg         5
28272      Suprise.jpg         5

[28273 rows x 2 columns]

In [60]:
df.iloc[5000:]

             filenames  category
5000     Fear-1903.jpg         1
5001     Fear-1904.jpg         1
5002     Fear-1905.jpg         1
5003     Fear-1906.jpg         1
5004     Fear-1907.jpg         1
...                ...       ...
28268  Suprise-996.jpg         5
28269  Suprise-997.jpg         5
28270  Suprise-998.jpg         5
28271  Suprise-999.jpg         5
28272      Suprise.jpg         5

[23273 rows x 2 columns]

In [61]:
df=df.sample(frac=1).reset_index(drop=True)
df

              filenames  category
0      Neutral-4660.jpg         3
1          Sad-2891.jpg         4
2       Neutral-756.jpg         3
3          Sad-3158.jpg         4
4        Happy-4592.jpg         2
...                 ...       ...
28268  Neutral-4651.jpg         3
28269         Sad-6.jpg         4
28270     Fear-3927.jpg         1
28271      Sad-1318.jpg         4
28272    Angry-1776.jpg         0

[28273 rows x 2 columns]

In [62]:
df["category"]=df["category"].replace({0:"Angry",1:"Fear",2:"Happy",3:"Neutral",4:"Sad",5:"Surprise"})
df

              filenames category
0      Neutral-4660.jpg  Neutral
1          Sad-2891.jpg      Sad
2       Neutral-756.jpg  Neutral
3          Sad-3158.jpg      Sad
4        Happy-4592.jpg    Happy
...                 ...      ...
28268  Neutral-4651.jpg  Neutral
28269         Sad-6.jpg      Sad
28270     Fear-3927.jpg     Fear
28271      Sad-1318.jpg      Sad
28272    Angry-1776.jpg    Angry

[28273 rows x 2 columns]

In [63]:
df

              filenames category
0      Neutral-4660.jpg  Neutral
1          Sad-2891.jpg      Sad
2       Neutral-756.jpg  Neutral
3          Sad-3158.jpg      Sad
4        Happy-4592.jpg    Happy
...                 ...      ...
28268  Neutral-4651.jpg  Neutral
28269         Sad-6.jpg      Sad
28270     Fear-3927.jpg     Fear
28271      Sad-1318.jpg      Sad
28272    Angry-1776.jpg    Angry

[28273 rows x 2 columns]

In [64]:
train_df,validate_df=train_test_split(df,test_size=0.20,random_state=42)
train_df=train_df.reset_index(drop=True)
validate_df=validate_df.reset_index(drop=True)

In [65]:
train_df

              filenames  category
0        Happy-6317.jpg     Happy
1         Happy-994.jpg     Happy
2       Neutral-837.jpg   Neutral
3        Angry-3259.jpg     Angry
4      Suprise-1714.jpg  Surprise
...                 ...       ...
22613    Happy-7166.jpg     Happy
22614    Angry-2299.jpg     Angry
22615    Angry-3538.jpg     Angry
22616     Happy-318.jpg     Happy
22617   Suprise-699.jpg  Surprise

[22618 rows x 2 columns]

In [66]:
validate_df

             filenames  category
0      Neutral-694.jpg   Neutral
1       Angry-1102.jpg     Angry
2       Happy-5186.jpg     Happy
3       Happy-2323.jpg     Happy
4        Fear-2257.jpg      Fear
...                ...       ...
5650    Angry-1711.jpg     Angry
5651    Happy-5552.jpg     Happy
5652  Suprise-2276.jpg  Surprise
5653    Angry-3411.jpg     Angry
5654   Neutral-615.jpg   Neutral

[5655 rows x 2 columns]

In [67]:
total_train=train_df.shape[0]
total_validate=validate_df.shape[0]
batch_size=32

In [68]:
total_train,total_validate

(22618, 5655)

In [69]:
train_datagen=ImageDataGenerator(rotation_range=15,rescale=1./255,shear_range=0.1,zoom_range=0.2,horizontal_flip=True,width_shift_range=0.1,height_shift_range=0.1)
train_generator=train_datagen.flow_from_dataframe(train_df,"./Training",x_col="filenames",y_col="category",target_size=Image_Size,class_mode="categorical",batch_size=batch_size)

Found 22618 validated image filenames belonging to 6 classes.

In [70]:
validation_datagen=ImageDataGenerator(rescale=1./255)
validation_genertor=validation_datagen.flow_from_dataframe(validate_df,"./Training",x_col="filenames",y_col="category",target_size=Image_Size,class_mode="categorical",batch_size=batch_size)

Found 5655 validated image filenames belonging to 6 classes.

In [71]:
#Creating neural model
import tensorflow as tf
import keras
from keras.layers import Conv2D,MaxPooling2D,Dropout,Flatten,Dense,Activation,BatchNormalization
model=tf.keras.models.Sequential()
#First Layer
model.add(Conv2D(32,(3,3),input_shape=[48,48,3],activation="relu",padding="same"))
model.add(BatchNormalization())
model.add(Conv2D(32,(3,3),activation="relu",padding="same"))
model.add(BatchNormalization())
model.add(MaxPooling2D(pool_size=(2,2),strides=2))
model.add(Dropout(0.25))
#Second Layer
model.add(Conv2D(64,(3,3),activation="relu",padding="same"))
model.add(BatchNormalization())
model.add(Conv2D(64,(3,3),activation="relu",padding="same"))
model.add(BatchNormalization())
model.add(MaxPooling2D(pool_size=(2,2),strides=2))
model.add(Dropout(0.25))
#Third Layer
model.add(Conv2D(128,(3,3),activation="relu",padding="same"))
model.add(BatchNormalization())
model.add(Conv2D(128,(3,3),activation="relu",padding="same"))
model.add(BatchNormalization())
model.add(MaxPooling2D(pool_size=(2,2),strides=2))
model.add(Dropout(0.25))
#Final Layer
model.add(Flatten())
model.add(Dense(512,activation="relu"))
model.add(BatchNormalization())
model.add(Dropout(0.5))
model.add(Dense(3,activation="softmax"))

In [72]:
model.compile(loss="categorical_crossentropy",optimizer=tf.keras.optimizers.SGD(momentum=0.9),metrics=["accuracy"])

In [73]:
#Call backs
from keras.callbacks import EarlyStopping,ReduceLROnPlateau
earlystop=EarlyStopping(patience=10)
learning_rate_reduction=ReduceLROnPlateau(monitor="val_accuracy",patience=2,verbose=1,factor=0.5,min_lr=0.00001)
call_backs=[earlystop,learning_rate_reduction]

In [74]:
#Training
epochs=20
face=model.fit(train_generator,epochs=epochs,validation_data=validation_genertor,validation_steps=total_validate/batch_size,steps_per_epoch=total_train/batch_size,callbacks=call_backs)

Epoch 1/20

InvalidArgumentError:  Input to reshape is a tensor with 65536 values, but the requested shape requires a multiple of 4608
	 [[node sequential_5/flatten_5/Reshape (defined at <ipython-input-74-3962648a4f99>:3) ]] [Op:__inference_train_function_12367]

Function call stack:
train_function